<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Philip Glazman</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/pygment_trac.css">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Philip Glazman</h1>
        <a href="blog.html"><p>Blog</a> <br><small>semi-structured thoughts</small> </p>
        <a href="photos.html"><p>Photographs</a> <br><small>sony α7</small> </p>
        <a href="random.html"><p>Random</a> <br><small>things i am curious about</small> </p>
        <ul>
          <li><a href="https://www.linkedin.com/in/philipglazman/" target="_blank">Visit my<strong>Linkedin</strong></a></li>
          <li><a href="https://github.com/mangosalad" target="_blank">Visit my<strong>Github</strong></a></li>
          <li><a href="../philipglazman_resume.pdf" target="_blank">Download my<strong>Resume</strong></a></li>
        </ul>
      </header>

      <section>
        <p>photos</p>
      </section>
      
      <footer>
        <p><small>Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
</html>